.body{
    width:60%;
    margin-left:auto;
    margin-right:auto;
}
.header2{
    /* background: #fda2a2; */
    height:71px;
    background-image: url('./cdac-logo.png');
    background-repeat: no-repeat;
    border-bottom: 2px solid rgb(156, 156, 156);
}
.pdfCont {
    padding: 10px;
    margin: 40px;
    border: 2px solid rgb(156, 156, 156);
    border-radius: 20px;
}
.pdfrow {
    display: inline-flex;
    width: 100%;
}

.pdfcol{
    width: 45%;
    text-align: left;
    padding: 15px 0px;
    padding-left: 40px;
    font-weight: 600;
    border-radius: 20px;
}
