
*{
    box-sizing: border-box;
}


.find-container {
    position: relative;
    padding: 0 5%;
}

.btn-find {
    position: absolute;
    left: 4rem;
    top: 0rem;
    height: 2.5965rem;

}

.findButtonClass {
    margin: 0.6rem 0;
    display: inline;
}

#chargeHeadID {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.parentSearchInput {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
}

/* .ParentPagination{
    display: flex;
    justify-content: start;
    align-items: start;
} */
.ParentPagination {
    display: block;
    position: relative;
}

#Pagi_input_id {
    
    width: 22%;
    min-width: 100px;
    padding: 0.4rem;
    border-radius: 3.5px;
}

#searchInput {
    right: 5rem;
    width: 22%;
    min-width: 200px;
    padding: 0.4rem;
    border-radius: 3.5px;
    flex-shrink: 0;
}

#searchDataID {
    height: 2.4rem;
    z-index: auto;
    flex-shrink: 0;
}

.spacer {
    flex-grow: 1;
}

@media (max-width: 600px) {
    .parentSearchInput {
        justify-content: center;
        align-items: center;
    }

    .find-container {
        padding: 0 2%;
    }

    #chargeHeadID {
        font-size: 28px;
    }

    .parentSearchInput {
        height: 50px;
    }

    #searchInput {
        height: 35px;
        font-size: smaller;
    }

    #searchDataID {
        height: 35px;
        font-size: smaller;
    }

    .spacer {
        display: none;
    }
}
