
*{
    box-sizing: border-box;
}


.find-container{
    position: relative;
}

.btn-find{
    position: absolute;
    left: 4rem;
    top: 0rem;
    height: 2.5965rem;

}

.findButtonClass{
    margin: 0.6rem 0;
    display: inline;
}

#chargeHeadID{
    margin: 0.865rem 0;
}

.parentSearchInput{
    /* position: relative; */
    display: flex;
    justify-content: end;
    align-items: end;
}

/* .ParentPagination{
    display: flex;
    justify-content: start;
    align-items: start;
} */
.ParentPagination{
    display: block;
    position: relative;
}

#Pagi_input_id{
    position: absolute;
    left: 2rem;
    width: 22%;
    padding: 0.4rem;
    border-radius: 3.5px;
}

#searchInput{
    position: absolute;
    right: 5rem;
    width: 22%;
    padding: 0.4rem;
    border-radius: 3.5px;
}

#searchDataID{
    height: 2.5965rem;
}
