h4 {
  color: #166cbe;
  margin-top: 8px;
  margin-bottom: 0;
}

input,
input[type="radio"]+label,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

#entry {
  position: relative;
  height: 6vh;

}



@media only screen and (max-width: 768px) {
  #entry {
    position: static;
  }
}

input:focus {
  outline: 0;
  border-color: #166cbe;
}

input:focus+.input-icon i {
  color: #166cbe;
}

input:focus+.input-icon:after {
  border-right-color: #166cbe;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]+label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  border-radius: 0;
}

input[type="radio"]+label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

input[type="radio"]+label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

input[type="radio"]+label i {
  padding-right: 0.4em;
}

input[type="radio"]:checked+label,
input:checked+label:before {
  background-image: linear-gradient(#42a1ec, #166cbe);
  color: #fff;
  border-color: #166cbe;
}

select {
  height: 5em;
  line-height: 2;
}

select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

select:focus,
select:active {
  outline: 0;
}

.input-group select option {
  background-color: #2887df;
  color: #fff;
}

#op {
  height: 20px;
}

#yes {
  height: 6vh;
}

.input-group {
  margin-bottom: 1em;
  margin-top: 20px;
}

.invoice input {
  height: 6vh;
}

.invoice {
  width: 100%;
  padding: 0;

}

.input-group:before,
.input-group:after {
  content: "";
  display: table;
}

.input-group:after {
  clear: both;
}

@media only screen and (max-width: 590px) {
  .invoice input {
    height: 4vh;
  }
}

.input-group-icon {
  position: relative;
  padding: 0;
}

.input-group-icon input {
  padding-left: 4.4em;
}

.input-group-icon select {
  padding-left: 4.4em;
  width: 100%;
  height: 6vh;
  padding-bottom: 0px;
  padding-top: 0px;
}

.input-group-icon .input-icon {
  position: absolute;
  top: -4px;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}

.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.3em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  height: 5vh;
}

.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

@media only screen and (max-width: 590px) {

  .input-group-icon input,
  .input-group-icon select {
    width: 100%;
    padding-left: 3.2em;
  }

  .input-group-icon .input-icon:after {
    left: 2.8em;
  }
}

.cont {
  max-width: 25rem;
  margin: 0 auto;
  background-color: #ffffff;
  width: 60%;
  margin-top: 0px;
  position: relative;
  overflow-y: auto;
  min-width: 400px;
}

.cont h1 {
  /* margin-left:auto;
  margin-right:auto; */
  text-align: center;
}

@media (min-width: 300px) {
  .cont {
    padding: 1em 3em 2em 3em;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 500px) {
  .cont {
    padding: 1em 3em 2em 3em;
    width: 35rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 900px) {
  .cont {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1080px) {
  .cont {
    max-width: 60rem;
  }
}






.cont::-webkit-scrollbar {
  display: none;
}

.cont::-webkit-scrollbar:horizontal {
  height: 0;
  width: 0;
  display: none;
}

.row {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row:before,
.row:after {
  content: "";
  display: table;
}

.row:after {
  clear: both;
}

@media only screen and (max-width: 340px) {
  .row {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 240px) {
  .row {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

@media only screen and (max-width: 240px) {
  .row {
    margin-left: -2.4rem;
    margin-right: -2.4rem;
  }
}



.col-half {
  padding-right: 1rem;
  float: left;
  width: 100%;
  margin-top: 2vh;
}

.col-half:last-of-type {
  padding-right: 0;
}

.col-third {
  padding-right: 1rem;
  float: left;
  width: 100%;
}

.col-third:last-of-type {
  padding-right: 0;
}

@media only screen and (min-width: 640px) {
  .col-half {
    width: 50%;
    padding-right: 1rem;
  }

  .col-third {
    width: 33.33333333%;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 900px) {
  .col-half {
    width: 50%;
    padding-right: 1rem;
  }

  .col-third {
    width: 33.33333333%;
    padding-right: 1rem;
  }

  .col-third:last-of-type {
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 1080px) {
  .col-half {
    width: 50%;
    padding-right: 10px;
  }

  .col-third {
    width: 33.33333333%;
    padding-right: 10px;
  }

  .col-third:last-of-type {
    padding-right: 10px;
  }
}

#submitbtn {
  background-image: linear-gradient(#42A1EC, #0070C9);
  border: 1px solid #0077CC;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  direction: ltr;
  display: block;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -.022em;
  line-height: 1.47059;
  min-width: 30px;
  overflow: visible;
  padding: 4px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  width: 50%;
  height: 8vh;
  white-space: nowrap;
  align-items: center;
  transition: 0.1s all ease;
}

#submitbtn:hover {
  background-image: linear-gradient(#3a94d8, #0067bb);
}

.cls_btn i {
  color: red;
  transition: 0.1s all ease;
}
.cls_btn i:hover {
  color: rgb(218, 0, 0);
}